.light-color{
	color: #1CC7C1;
}
.dark-color{
	color:#3A4256 ;
}
.testimonial{
	
	
}

.quote{
	background-image: url('../../../images/quote.svg');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: right;
	
}